<div class="card-box col-12 col-md-6 col-lg-4">
  <div class="card border-dark mb-3">
    <div class="card-header p-0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%= movie.url %>" allowfullscreen></iframe>
      </div>
      <div class="card-body text-dark movie-body">
        <a href="#" class="btn btn-secondary">読破済みにする</a>
        <p class="card-title mt-4"><%= "Lv.#{movie_counter + 1} : #{movie.title}" %></p>
      </div>
    </div>
  </div>
</div>
