<div class="col-12 col-md-6 col-lg-4">
  <div class="card border-dark mb-3">
      <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" alt="<% text.title %>">
    <div class="card-body">
      <a href="#" class="btn btn-primary btn-block">読破済みにする</a>
      <p class="card-text mt-3"><%= text.title %></p>
      <p><%= text.genre %></p>
    </div>
  </div>
</div>
